<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projekt za UVP</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />


    <! -- s css datoteko sem imel tezave, to jih resi -->
        <style>
            % with open('static\stil.css', 'r') as file: 
            % css=file.read().split('\n') 
            % end 
            % for i in css: 
            {{i}}
            % end
        </style>
</head>

<body>

    <div class="container">
        <div class="row" style="justify-content: center;">
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Navodila</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <p><h5>Pravila igre:</h5>

Igra se igra na 2n * 2m plošči, v vsako polje gre natanko en kamen.
Igrata dva igralca (beli in črn), ki se izmenjujeta.
Vsako potezo igralec položi 1 kamen svoje barve in 1 kamen sive barve.
Izjema sta 1. in 2. poteza.
Pri 1. potezi beli položi izključno kamen svoje barve,
pri 2. potezi črn poleg kamna svoje barve položi tudi 2 siva kamna.
Zmaga tisti igralec, ki ima več povezav.
Povezavo tvorijo beli in črni kamni, sivi pa ne.
Povezave tvorijo izključno kamni iste barve in te 
se štejejo v ravnih linijah (po vrsticah, stolpcih in diagonalah).
N kamnov v ravni liniji lastniku prenesejo n(n-1)/2 povezav.
Črn začne z 1 povezavo beli pa z 0 (to dodatno zmanjša prednost belega).</p>

<p><i>Ta igra je izmišljena za namen te projektne naloge.</i></p>

<p><h5>Uporabniški vmesnik:</h5>
    Večina uporabnih gumbov se nahaja na vrhu strani.
    Ta program se ne povezuje na internet in
    večina ga je dostopna brez registracije.
    Registracija je potrebna le za shranjevanje zgodovine in povezanih prilagoditev
    (in podatki uporabljeni za registracijo ostanejo izključno na temu računalniku).
    Uporabniški vmesnik je lahko včasih neodziven (še posebej po prvi potezi nove igre in v igrah proti robotu na najtežji nastavitvi).
    Razlog za prvo mi ni znan, razlog za drugo pa je, da računalnik išče čim boljšo potezo.</p>	
    
    <p>
    Novo igro začnete tako, da kliknete gumb "Nova igra" in izberete željene nastavitve.
    Če je pred tem že bila igrana kakšna igra se pri tem izbriše. Če želite imeti več pozicij shranjenih naenkrat se je potrebno registrirati.
    To dosežete tako, da pritisnete na gumb "Račun" v zgornjem desnem kotu in se registrirate oz. prijavite, če ste že registrirani 
    (ta gumb izgine med tem, ko je nekdo prijavljen in na mestu tega gumba se pojavi bel kvadrat z uporabniškim imenom in zraven gumb "Odjava").
    </p> 
    <p>
    Če ste prijavljeni se igra, ki jo najdete ob pritisku na gumb "Trenutna igra" ob zaprtju programa oz. odjavi samodejno shrani,
    in jo lahko ob ponovni prijavi najdete s pritiskom na gumb "Trenutna igra". Ob ponovni prijavi se igra samodejno nadaljuje.
    Poleg tega lahko shranite tudi posamezne pozicije s pritiskom "Shrani pozicijo" v spodnjem desnem delu stani (med tem, ko ste na trenutni igri).
    Pri tem se bo shranil tudi komentar. Shranjene pozicije lahko najdete v zavihku "Zgodovina".
    
    </p>
    <p>
    V zgodovini imajo posamezne pozicije gumbe z tremi ključnimi besedami. "Izbriši" izbriše shranjeno pozicijo iz zgodovine, 
    "shrani" bo shranilo trenutno igro in "nadaljuj" shranjeno pozicijo premakne v trenutno igro.
    Shranjene pozicije se ob nadaljnji igri ne spremenijo.
    </p>

    <p>
    Prijava omogoča tudi igro proti drugi registrirani osebi.
    </p>
    

                    </div>
                </div>
                
            <div class="col-8" , style="width: 70%">

                <div class="container">
                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasScrolling"
                                aria-controls="offcanvasScrolling">Navodila</button>


                            <a href="/nova-igra/{{argumenti['nasprotnik']}}/{{argumenti['velikost']}}/{{argumenti['tezavnost']}}/"
                                class="btn btn-primary">Nova igra</a>
                            <a href="/trenutna-igra/" class="btn btn-primary">Trenutna igra</a>
                            <a href="/zgodovina/" class="btn btn-primary">Zgodovina</a>

                            % if argumenti['uporabnik'] is None:
                            <a href="/uporabniski-racun/" class="btn btn-primary">Račun</a>

                        
                        % else:
                        <div class="btn-group">
                        <button class="btn btn-primary" style="background-color: rgba(255, 255, 255, 0.89); color: black;">{{argumenti['uporabnik']}}</button>
                        <form action="/odjava/" method="post">
                            <input type="submit" class="btn btn-primary" value="Odjava">
                        </form>
                        % end
                    </div>


                    </div>



                </div>

            </div>
        </div>
    </div>
    <div>{{!base}}</div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>


</body>

</html>