<!DOCTYPE html>
<html>
<body>

<h1>The img element</h1>
<form action="/oddaj-potezo/{{i}}/{{j}}/" method="post">
    <input type="image" style="width: 10%;" src="C:\Users\drugi\Desktop\uvp\UVP\UVP\static\beli.png" alt="Submit">
  </form>
živa groza !

<div class="grid-container" style="display: grid; justify-content: center; grid: 10%  10% / 10% 10% ; padding: 10px;">


    
    <form action="/oddaj-potezo/" method="post">
        <input type="image" size="width: 10%" src="C:\Users\drugi\Desktop\uvp\UVP\UVP\static\beli.png" alt="Submit">
    </form>
    <form action="/oddaj-potezo/" method="post">
        <input type="image" src="C:\Users\drugi\Desktop\uvp\UVP\UVP\static\beli.png" alt="Submit">
    </form>
    <form action="/oddaj-potezo/" method="post">
        <input type="image" src="C:\Users\drugi\Desktop\uvp\UVP\UVP\static\beli.png" alt="Submit">
    </form>
    <form action="/oddaj-potezo/" method="post">
        <input type="image" src="C:\Users\drugi\Desktop\uvp\UVP\UVP\static\beli.png" alt="Submit">
    </form>
    <form action="/oddaj-potezo/" method="post">
        <input type="image" src="C:\Users\drugi\Desktop\uvp\UVP\UVP\static\beli.png" alt="Submit">
    </form>


    
    </div>


</body>
</html>
