% ime = igra["name"]
% # trenutna_igra := True, če se že igra neka igra in False drugače


<div class="row" style="width: 70vW; height: 30vh; vertical-align: middle; 
background-color: rgba(255, 255, 255, 0.26); border: solid black;">
    <div class="col-0" style="width: 30%">

        <form action="/nadaljuj-pozicijo/{{ime}}/10/" method="post">
            <input type="image" style="height: min(25vh, 25vw); padding-top: 5vh;" src="\static\zgodovina\{{ime}}.png" alt="Pozicija je bila shranjena {{igra["date"]}}">
            
        </form>    
    </div>

    <div class="col">
        <p> <h5> {{igra["player1"]}} {{igra["points"]}} {{igra["player2"]}}</h5>
            <i>
                {{igra["date"]}} <br>
                {{igra["comment"]}}
            </i>
        </p>



        <div class="row" style="width: 80%; vertical-align: middle;">

            <div class="col" style="width: 50%;">
                <form action="/nadaljuj-pozicijo/{{ime}}/5/" method="post">
                    <input type="submit" class="btn btn-primary btn-sm" value="Nadaljuj">
                </form>
            </div>

            
            % if trenutna_igra:
            <div class="col" style="width: 50%;">
                <form action="/nadaljuj-pozicijo/{{ime}}/10/" method="post">
                    <input type="submit" class="btn btn-primary btn-sm" value="Shrani in nadaljuj">
                </form>
            </div>

            <div class="col" style="width: 50%;">
                <form action="/nadaljuj-pozicijo/{{ime}}/30/" method="post">
                    <input type="submit" class="btn btn-primary btn-sm" value="Shrani, nadaljuj in izbriši">
                </form>
            </div>
            % end

            <div class="col" style="width: 50%;">
                <form action="/nadaljuj-pozicijo/{{ime}}/15/" method="post">
                    <input type="submit" class="btn btn-primary btn-sm" value="Nadaljuj in izbriši">
                </form>
            </div>


            <div class="col" style="width: 50%;">
                <form action="/nadaljuj-pozicijo/{{ime}}/3/" method="post">
                    <input type="submit" class="btn btn-primary btn-sm" value="Izbriši">
                </form>
            </div>

        </div>

    </div>

</div>


