% rebase('base.html')
% igra = argumenti['trenutna_igra']
% if not igra is None:

<div class="row" style="width: 90vw; vertical-align: middle;">
    <div class="col" style="width: 10vw"></div>
    <div class="col" style="width: {{f'min({(60/igra.x*igra.y)}vw, {(90/igra.y*igra.y)})vh'}}">

        <div class="grid-container"
            style="display: grid; justify-content: center; grid: {{f'min({(60/igra.x)}vw, {(90/igra.y)}vh) ' * igra.y}}/ {{f'min({(60/igra.x)}vw, {(90/igra.y)}vh) ' * igra.x}}; padding: 10px;">



            % for i in range(igra.y):
            % for j in range(igra.x):
            <div class="grid-item">
                <form action="/oddaj-potezo/{{i}}/{{j}}/" method="post">
                    % if igra.board[i][j] is None:
                    <input type="image" style="width: 100%;" src="\static\prazno.png" alt="prazno">
                    % elif igra.board[i][j] == 0:
                    <input type="image" style="width: 100%;" src="\static\sivi.png" alt="sivi">
                    % elif igra.board[i][j] == 1:
                    <input type="image" style="width: 100%;" src="\static\beli.png" alt="beli">
                    % else:
                    <input type="image" style="width: 100%;" src="\static\crni.png" alt="črni">
                    % end

                </form>
            </div>
            % end
            % end
        </div>
    </div>
    <div class="col" style="max-width: 25vw;">
        <div style="height: 15vh;"></div>

        <div class="card" style="max-width: 100%;">

            <div style="height: 10vh; border: solid rgba(0, 0, 0, 0.274);">
                <img src="\static\beli.png" alt="beli" style="height: 50%; ">{{igra.player1}}
            </div>

            <p></p>

            <div>
                <div style="height: 10vh; ">
                    <img src="\static\beli.png" alt="beli" style="height: 80%; ">
                    {{igra.points[0]}} : {{igra.points[1]}}
                    <img src="\static\crni.png" alt="črni" style="height: 80%; ">
                </div>

                                    
                % if len(igra.move_sequence) != igra.y * igra.x:
                <p>Na potezi: <b style="color: rgba(197, 16, 16, 0.877);">{{igra.player1 if igra.which_player() == 1 else igra.player2}}</b></p>
                
                <div style="border: solid rgba(0, 0, 0, 0.274);">
                <p>Naslednji kamen</p>
                <div style="height: 10vh;">

                        % kamen = igra.which_stone()
                        
                        % if kamen == 1:
                        <img src="\static\beli.png" alt="beli" style="height: 80%; ">
                        % elif kamen == -1:
                        <img src="\static\crni.png" alt="črni" style="height: 80%; ">
                        % else:
                        <img src="\static\sivi.png" alt="sivi" style="height: 80%; ">
                        % end

                </div>
                </div>

                % else:
                <p><b style="color: rgba(197, 16, 16, 0.877);">Konec igre</b></p>
                % if igra.points[0] == igra.points[1]: 
                <p>Rezultat: <b style="color: rgba(197, 16, 16, 0.877); font-size: large;">REMI</b></p>
                % elif igra.points[0] > igra.points[1]: 
                <p>Rezultat: <b style="color: rgba(197, 16, 16, 0.877); font-size: large;">ZMAGA: {{igra.player1}}</b></p>
                % else:
                <p>Rezultat: <b style="color: rgba(197, 16, 16, 0.877); font-size: large;">ZMAGA: {{igra.player2}}</b></p>
                % end
                % end

                <div class="row"  vertical-align: middle;">
                % if igra.move_sequence:
                <div class="col">
                <form action="/potezo-nazaj/" method="post">
                    <input type="submit" class="btn btn-primary" value="⇦" style="font-size: large;">
                </form>
                </div>
                % end
                
                % if igra.take_backs:
                <div class="col">
                <form action="/potezo-naprej/" method="post">
                    <input type="submit" class="btn btn-primary" value="⇨" style="font-size: large;">
                </form>
                </div>
                % end
                </div>
            </div>
            <p></p>
            

            <div style="height: 10vh; border: solid rgba(0, 0, 0, 0.274);;">
                <img src="\static\crni.png" alt="črni" style="height: 50%; ">{{igra.player2}}
            </div>

        </div>

    </div>



</div>

% else:
<p><br></p>
<p><br></p>
<div class="card text-center">
    <div class="card-header">
        Dragi {{'uporabnik' if argumenti['uporabnik'] is None else argumenti['uporabnik']}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Nobena igra ni v teku</h5>
        <p class="card-text">Če želite začeti novo igro pritisnite na naslednji gumb.</p>
        <a href="/nova-igra/{{argumenti['nasprotnik']}}/{{argumenti['velikost']}}/{{argumenti['tezavnost']}}/"
            class="btn btn-primary">Nova igra</a>
    </div>
    <div class="card-footer text-muted">
    </div>


% end