% rebase('base.html')

% if argumenti["uporabnik"] is None:
<p><br></p>
<div class="card text-center">
    <div class="card-header">
        Dragi uporabnik
    </div>
    <div class="card-body">
        <h5 class="card-title">Zgodovina ni na voljo.</h5>
        <p class="card-text">Za dostop do zgodovine se je potrebno prijaviti.</p>
        <a href="/uporabniski-racun/"
            class="btn btn-primary">Prijava</a>
    </div>
    <div class="card-footer text-muted">
</div>

% else:

% # {{argumenti["zgodovina"]()}}
% li = sorted(argumenti["zgodovina"]().items(), key=lambda x: x[0], reverse = True)
% # argumenti["zgodovina"]() je enako kot uporabnik.self.igre

<div style="height: 5vh;"></div>

% if not li:
<i>Izgleda, da nimate nobenih shranjenih pozicij.</i>
% end
% for i in li:

% include('pozicija.html', igra=i[1], trenutna_igra=(not argumenti["trenutna_igra"] is None))


% end